resources:
- name: minecraft-server
  type: compute.v1.instance
  properties:
    zone: {{ properties['zone'] }}
    machineType: zones/{{ properties['zone'] }}/machineTypes/{{ properties['machineType'] }}
    tags:
      items:
      - minecraft-server
    metadata:
      items:
      - key: gce-container-declaration
        value: |
          spec:
            restartPolicy: Never
            volumes:
            - name: pd-0
              gcePersistentDisk:
                pdName: $(ref.lambdacraft-persistence.name)
                fsType: ext4
                partition: 0
            containers:
            - name: minecraft-server
              image: us.gcr.io/minecraft-experimentation/lambdacraft
              imagePullPolicy: Always
              volumeMounts:
              - name: pd-0
                mountPath: /data
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: projects/cos-cloud/global/images/family/cos-stable
    - type: PERSISTENT
      source: $(ref.lambdacraft-persistence.selfLink)
      deviceName: $(ref.lambdacraft-persistence.name)
    networkInterfaces:
    - network: global/networks/default
      accessConfigs:
      - name: external-nat
        type: ONE_TO_ONE_NAT
    # TODO: Manage SA via DM.
    serviceAccounts:
    - email: 318807339118-compute@developer.gserviceaccount.com
      scopes:
      - https://www.googleapis.com/auth/cloud-platform
- name: lambdacraft-persistence
  type: compute.v1.disk
  properties:
    name: lambdacraft-persistence
    zone: {{ properties['zone'] }}
    sizeGb: 10
